<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.c_store.zhiyazhang.cstoremanagement">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--登录页  .view.activity.SignInActivity-->
        <activity
            android:name=".view.activity.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--hone主页-->
        <activity
            android:name=".view.activity.HomeTableActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--新home页-->
        <activity
            android:name=".view.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--所有承包商品类别-->
        <activity
            android:name=".view.activity.ContractTypeActivity"
            android:screenOrientation="portrait"/>
        <!--某类所有商品-->
        <activity
            android:name=".view.activity.ContractActivity"
            android:screenOrientation="portrait"/>
        <!--某类所有商品-->
        <activity
            android:name=".view.activity.ContractActivity2"
            android:screenOrientation="portrait"/>
        <!--某一个商品详细页-->
        <activity
            android:name=".view.activity.ContractDetailActivity"
            android:screenOrientation="portrait"/>
        <!--搜索商品-->
        <activity
            android:name=".view.activity.SearchContractActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--语音识别-->
        <activity
            android:name=".view.activity.SpeechActivity"
            android:screenOrientation="portrait"/>
        <!--选择是有条形码报废还是无条形码报废-->
        <activity
            android:name=".view.activity.ScrapSelectActivity"
            android:screenOrientation="portrait"/>
        <!--有条形码报废-->
        <activity
            android:name=".view.activity.BarCodeScrapActivity"
            android:screenOrientation="portrait"/>
        <!--无条形码报废，选类-->
        <activity
            android:name=".view.activity.NoCodeScrapActivity"
            android:screenOrientation="portrait"/>
        <!--无条形码报废，某类所有商品-->
        <activity
            android:name=".view.activity.NCScrapActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>