<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cstore.zhiyazhang.cstoremanagement">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.zhiyazhang.mykotlinapplication.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--登录页-->
        <activity
            android:name=".view.SignInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".view.UpdateService"/>

        <!--Home主页-->
        <activity
            android:name=".view.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--订货页-->
        <activity
            android:name="com.cstore.zhiyazhang.cstoremanagement.view.ContractOrder"
            android:screenOrientation="portrait"/>

        <!--修改订量商品类选择-->
        <activity
            android:name="com.cstore.zhiyazhang.cstoremanagement.view.order.contract.ContractTypeActivity"
            android:screenOrientation="portrait"/>

        <!--修改订量页-->
        <activity
            android:name="com.cstore.zhiyazhang.cstoremanagement.view.order.contract.ContractActivity"
            android:screenOrientation="portrait"/>

        <!--商品二维码搜索-->
        <activity
            android:name="com.cstore.zhiyazhang.cstoremanagement.view.order.contract.ContractSearchActivity"
            android:screenOrientation="portrait"/>

        <!--显示图片页-->
        <activity
            android:name=".view.ImageActivity"
            android:screenOrientation="portrait"/>

        <!--大类订货页-->
        <activity
            android:name=".view.order.category.CategoryActivity"
            android:screenOrientation="portrait"/>

        <!--大类下商品页-->
        <activity
            android:name=".view.order.category.CategoryItemActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.instock.InStockActivity"
            android:screenOrientation="portrait"/>

        <!--报废-->
        <activity
            android:name=".view.scrap.ScrapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!--        &lt;!&ndash;报废选择&ndash;&gt;
                <activity
                    android:name=".view.scrap.ScrapSelectActivity"
                    android:screenOrientation="portrait"/>

                &lt;!&ndash;无码报废&ndash;&gt;
                <activity
                    android:name=".view.scrap.NoCodeScrapActivity"
                    android:screenOrientation="portrait"/>

                &lt;!&ndash;报废品详细列&ndash;&gt;
                <activity
                    android:name=".view.scrap.NCScrapActivity"
                    android:screenOrientation="portrait"/>

                &lt;!&ndash;条形码报废&ndash;&gt;
                <activity
                    android:name=".view.scrap.BarCodeScrapActivity"
                    android:screenOrientation="portrait"
                    android:windowSoftInputMode="adjustPan|stateHidden"/>-->


        <!--测试用-->
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>