<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cstore.zhiyazhang.cstoremanagement">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cstore.zhiyazhang.cstoremanagement.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!--登录页-->
        <activity
            android:name=".view.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--更新用的service-->
        <service android:name=".view.UpdateService"/>
        <!--检测是否有交易未完成的service-->
        <service android:name=".view.PayDataService"/>
        <!--检查调拨的service-->
        <service android:name=".view.TransferService"/>
        <!--Home主页-->
        <activity
            android:name=".view.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--订货页-->
        <activity
            android:name=".view.ContractOrder"
            android:screenOrientation="portrait"/>

        <!--修改订量商品类选择-->
        <activity
            android:name=".view.order.contract.ContractTypeActivity"
            android:screenOrientation="portrait"/>

        <!--修改订量页-->
        <activity
            android:name=".view.order.contract.ContractActivity"
            android:screenOrientation="portrait"/>

        <!--商品二维码搜索-->
        <activity
            android:name=".view.order.contract.ContractSearchActivity"
            android:screenOrientation="portrait"/>

        <!--显示图片页-->
        <activity
            android:name=".view.ImageActivity"
            android:screenOrientation="portrait"/>

        <!--大类订货页-->
        <activity
            android:name=".view.order.category.CategoryActivity"
            android:screenOrientation="portrait"/>

        <!--大类下商品页-->
        <activity
            android:name=".view.order.category.CategoryItemActivity"
            android:screenOrientation="portrait"/>

        <!--库存管理页-->
        <activity
            android:name=".view.InStockActivity"
            android:screenOrientation="portrait"/>

        <!--报废-->
        <activity
            android:name=".view.scrap.ScrapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />

        <!--热食报废-->
        <activity
            android:name=".view.scrap.ScrapHotActivity"
            android:screenOrientation="portrait"/>

        <!--热食报废商品页-->
        <activity
            android:name=".view.scrap.ScrapHotItemActivity"
            android:screenOrientation="portrait"/>

        <!--现金日报-->
        <activity
            android:name=".view.cashdaily.CashDailyActivity"
            android:screenOrientation="portrait"/>

        <!--进货验收配送单页面-->
        <activity
            android:name=".view.acceptance.PurchaseAcceptanceActivity"
            android:screenOrientation="portrait"/>

        <!--进货验收商品页-->
        <activity
            android:name=".view.acceptance.PurchaseAcceptanceItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--创建验收单-->
        <activity
            android:name=".view.acceptance.PurchaseAcceptanceCreate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--成本投资-->
        <activity
            android:name=".view.COIActivity"
            android:screenOrientation="portrait"/>

        <!--库存调整-->
        <activity
            android:name=".view.inventory.InventoryAdjustmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--人事页面-->
        <activity
            android:name=".view.PersonnelActivity"
            android:screenOrientation="portrait"/>

        <!--签到-->
        <activity
            android:name=".view.checkin.CheckInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!--大夜签到查看-->
        <activity
            android:name=".view.checkin.CheckInDYActivity"
            android:screenOrientation="portrait"/>

        <!--退货首页-->
        <activity
            android:name=".view.order.returnpurchase.ReturnPurchaseActivity"
            android:screenOrientation="portrait"/>

        <!--退货商品页-->
        <activity
            android:name=".view.order.returnpurchase.ReturnPurchaseItemActivity"
            android:screenOrientation="portrait"/>

        <!--退货创建页-->
        <activity
            android:name=".view.order.returnpurchase.ReturnPurchaseCreateActivity"
            android:screenOrientation="portrait"/>

        <!--过期品预约退货首页-->
        <activity
            android:name=".view.order.returnexpired.ReturnExpiredActivity"
            android:screenOrientation="portrait"/>

        <!--收款添加商品页-->
        <activity
            android:name=".view.pay.PayActivity"
            android:screenOrientation="portrait"/>

        <!--收款收钱页-->
        <activity
            android:name=".view.pay.PayCollectActivity"
            android:screenOrientation="portrait"/>

        <!--商品调拨-->
        <activity
            android:name=".view.transfer.TransferActivity"
            android:screenOrientation="portrait"/>

        <!--商品调拨详细页-->
        <activity
            android:name=".view.transfer.TransferItemActivity"
            android:screenOrientation="portrait"/>

        <!--单品查询-->
        <activity
            android:name=".view.inquiry.UnitInquiryActivity"
            android:screenOrientation="portrait"/>

        <!--库存异常查询-->
        <activity
            android:name=".view.inverror.InvErrorActivity"
            android:screenOrientation="portrait"/>

        <!--排班-->
        <activity
            android:name=".view.paiban.PaibanActivity"
            android:screenOrientation="portrait"/>

        <!--考勤-->
        <activity
            android:name=".view.attendance.AttendanceActivity"
            android:screenOrientation="portrait"/>

        <!--考勤详细-->
        <activity
            android:name=".view.attendance.AttendanceItemActivity"
            android:screenOrientation="portrait"/>

        <!--考勤记录查询-->
        <activity
            android:name=".view.attendance.AttendanceRecordingActivity"
            android:screenOrientation="landscape"/>

        <!--虚拟全景-->
        <activity android:name=".view.panorama.Panorama"/>

        <!--中卫调拨-->
        <activity android:name=".view.transfer.TransferZActivity"
                  android:screenOrientation="portrait"/>

        <!--中卫调拨详细页-->
        <activity android:name=".view.transfer.TransferZItemActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>